.background{background-image: url(https://i.pinimg.com/564x/c3/97/2e/c3972eacb1469011b774a579d185c499.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height:350px;
    width:auto;
    margin-top: -5%;
    margin-right: -5%;
    margin-left:-5%;
   }
   .fullname{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(77, 99, 199);
    text-align: center;
    margin: 0%;
  
}
.school{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 135, 204);
    text-align: center;
    margin: 0%;
  
}
.introduction{
    color:rgb(44, 59, 146);
    font-size: larger;
   text-align: justify;
   background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
#first{
    color:rgb(70, 80, 221);
    text-align: left;
    font-size:xx-large;
    margin-right: 2px;
}
nav{
    display:flex;
    justify-content: space-evenly;
    position:left;
    align-items:left;
    z-index: 1;
}
.navlinks{
    text-align: left;
    padding: 10px 30px;
    border-bottom-right-radius: 18-x;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}
.navlinks ul li a{
    color:rgb(31, 84, 184);
    text-decoration: none;
}
.navlinks li a:hover{
    color:rgb(196, 92, 92);
}
nav{
    display:flex;
    justify-content: space-evenly;
    position:relative;
    align-items: left;
    z-index: 1;
}
.icons{
    padding: 10px 30px;
    border-bottom-left-radius: 18-x;
}
.icons ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.icons ul li a{
    text-decoration: none;
}
.icons li a:hover{
    opacity: 0.5;
}